Node-Red-Files/NetSim-Sensor-Server.json
[{"id":"435a169c.6e8898","type":"tab","label":"NetSim Virtal Sensor","disabled":false,"info":""},{"id":"4fecd741.f6acc8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"NetSim Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"52b8023a.3cc23c","type":"ui_tab","z":"","name":"Sensor Data","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e1b39a8c.aaab68","type":"inject","z":"435a169c.6e8898","name":"Send Data","topic":"Dummy data","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":240,"wires":[["33490c13.161bc4"]]},{"id":"33490c13.161bc4","type":"function","z":"435a169c.6e8898","name":"Device Payload","func":"var counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 1000) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {payload: JSON.stringify({d:{\"Actual_data\" : counter1}})};\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["ff2fb85b.ab5fa8"]]},{"id":"ff2fb85b.ab5fa8","type":"wiotp out","z":"435a169c.6e8898","authType":"d","qs":"true","qsDeviceId":"ff2fb85b.ab5fa8","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"NetSim Sensor","x":880,"y":240,"wires":[]}]