Node-Red-Files/NetSim-Sensor-Client.json
[{"id":"c9eb260f.8a51e8","type":"tab","label":"NetSim Senosor Client","disabled":false,"info":""},{"id":"caa52ac0.3b8348","type":"ui_tab","z":"","name":"Sensor Data","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c1c2f7d.3eadf08","type":"ui_group","z":"","name":"NetSim Emulation Payload Test","tab":"caa52ac0.3b8348","order":4,"disp":true,"width":"6","collapse":false},{"id":"4953553d.8b680c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"NetSim Emulation","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":70,"sy":72,"gx":36,"gy":6,"cx":27,"cy":6,"px":53,"py":0}}},{"id":"50b485.f40b6b7c","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"2607326a.6065ae","type":"function","z":"c9eb260f.8a51e8","name":"Get Payload","func":"msg.payload=msg.payload.d.Actual_data\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["f83a9ef8.f9c72","92eaca9a.1b2788","884fac5.a0b2d5","95a744f9.e199a8"]]},{"id":"f83a9ef8.f9c72","type":"ui_gauge","z":"c9eb260f.8a51e8","name":"Payload Guage","group":"c1c2f7d.3eadf08","order":0,"width":"6","height":"3","gtype":"wave","title":"Payload Guage","label":"","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":100,"wires":[]},{"id":"92eaca9a.1b2788","type":"ui_text","z":"c9eb260f.8a51e8","group":"c1c2f7d.3eadf08","order":1,"width":"6","height":"2","name":"Current Payload","label":"Current Payload","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":220,"wires":[]},{"id":"884fac5.a0b2d5","type":"ui_chart","z":"c9eb260f.8a51e8","name":"Payload Chart","group":"c1c2f7d.3eadf08","order":2,"width":0,"height":0,"label":"Payload Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":420,"wires":[[]]},{"id":"e1986af8.0a96c8","type":"ibmiot in","z":"c9eb260f.8a51e8","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"ff2fb85b.ab5fa8","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"NetSim Virtual Sensor","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":340,"y":320,"wires":[["2607326a.6065ae"]]},{"id":"95a744f9.e199a8","type":"debug","z":"c9eb260f.8a51e8","name":"Payload","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":770,"y":560,"wires":[]},{"id":"196575ab.40e0ca","type":"comment","z":"c9eb260f.8a51e8","name":"NetSim Emulation","info":"","x":310,"y":100,"wires":[]}]